*{
  box-sizing: border-box;
  margin: 0;
}

:root {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background-color: rgb(131, 137, 163);
}

.quote-box {
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
}

.text {
  text-shadow: 1px;
  text-align: center;
  font-size: 25px;
}

.author {
  color: brown;
  margin-top: 10px;
  text-align: center;
  font-size: small;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.new-quote {
  background-color: rgb(14, 14, 14);
  color: rgb(192, 240, 240);
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(223, 4, 4, 0.2);
  cursor: pointer;    
}

.new-quote:hover {
  opacity: 80%;
}

.footer{
  margin-top: 5px;
}

